{% extends "base/plain.html" %}

{% load booking %}

{% block content %}
<h1 id="how-to-use-galaxy">How to use Galaxy</h1>
<p>This background wiki gives very brief guides on performing specific tasks in Galaxy.  For much more extensive documentation including many videos, online tutorials and discussion forums please <a href="https://wiki.galaxyproject.org/">consult the galaxy wiki</a>.</p>
<h2 id="create-a-new-history">Create a new History</h2>
<ol>
<li>Click the <code>History Options</code> menu (cog icon) in the top-right corner of Galaxy.</li>
<li>Select <code>Create new</code></li>
<li>The new history will be called "Unnamed History". Click its title to rename it.</li>
</ol>
<h2 id="rename-a-history-item">Rename a history item</h2>
<ol>
<li>Locate the item in your history and click its pencil icon</li>
<li>Enter a new name in the <code>Name:</code> field and click <code>Save</code></li>
</ol>
<p><img alt="Image of renaming a history item" src="../EditHistoryItem.png" /></p>
<h2 id="find-someones-exact-username">Find someone's exact username</h2>
<p>Click the <code>User</code> menu at the top of Galaxy.  The menu that appears will show the currently logged in username</p>
<p><img alt="Screenshot showing how to view logged in user" src="../ViewLoggedInUser.png" /></p>
<h2 id="share-a-history">Share a History</h2>
<ol>
<li>Click the <code>History Options</code> menu (cog icon) in the top-right corner of Galaxy.</li>
<li>Select <code>Share or Publish</code>
    <img alt="Screenshot showing share or publish item" src="../ShareOrPublish.png" /></li>
<li>Then select <code>Share with another user</code> and enter the user's <a href="#find-someones-exact-username">full username</a></li>
</ol>
<h2 id="import-a-history">Import a History</h2>
<ol>
<li>Click the <code>History Options</code> menu (cog icon) in the top-right corner of Galaxy.</li>
<li>Select <code>Histories Shared with Me</code>
    <img alt="Screenshot histories shared with me" src="../HistoriesSharedWithMe.png" /></li>
<li>Select and view the desired history by clicking on its name
    <img alt="Screenshot showing how to view a history" src="../ViewSharedHistory.png" /></li>
</ol>
<h2 id="copy-datasets">Copy Datasets</h2>
<ol>
<li>Click the <code>History Options</code> menu (cog icon) in the top-right corner of Galaxy.</li>
<li>Select <code>Histories Shared with Me</code>
    <img alt="Screenshot copy datasets" src="../CopyDatasets1.png" /></li>
<li>The screen that appears allows copying of specific datasets between any of your histories</li>
</ol>
<h2 id="multi-file-inputs">Multi File Inputs</h2>
<p>Tools that support running over multiple input files indicate this by showing a multi-file icon beside the relevant input.
After clicking the multi-file icon the display should change to allow multiple inputs to be selected.</p>
<p><img alt="Screenshot for multi-file inputs" src="../MultiFileInputs.png" /></p>
<h2 id="saved-histories">Saved Histories</h2>
<p>To view a list of your saved histories click the <code>History Options</code> menu (cog icon) in the top-right corner of Galaxy and select <code>Saved Histories</code>
Once the list of your histories appears you can switch to a history by clicking it. You can also use this view to delete histories or organise them by tags</p>
<p><img alt="Screenshot saved histories" src="../SavedHistories.png" /></p>
{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}