{% extends "base/plain.html" %}

{% load booking %}

{% block content %}
<h1 id="how-search-engines-work">How Search Engines Work</h1>
<p>When choosing search engine parameters it can be helpful to understand the basic algorithms that most search engines share. The workflow of a typical search engine is roughly as outlined below.</p>
<ol>
<li>The next spectrum in the dataset is loaded for consideration</li>
<li>The spectrum parent mass and the parent mass tolerance is used to select a small set of matching peptides from the database.  This is a crucial step because the number of peptides that fall within the matching mass window will determine the effective size of the search space.  Database search space size also depends on many other factors including<ul>
<li>The size of the protein database</li>
<li>Variable modifications allowed on peptides</li>
<li>Parent ion mass tolerance</li>
<li>Number of allowed missed enzymatic cleavages</li>
<li>Specificity of the enzyme used for digestion</li>
</ul>
</li>
<li>Each of the matching peptides is scored against the spectrum. The nature of this scoring is where search engines typically differ from each other.</li>
<li>The highest scoring <code>peptide spectrum match</code> (PSM) is recorded along with its score.</li>
<li>Some form of global analysis of (PSM) scores is performed in order to determine a threshold of significance</li>
</ol>
<p>There are many excellent presentations online that explain this in more detail.  Although it's old, I recommend <a href="http://www.slideshare.net/ProteomeSoftware/interpreting-msms-results">this presentation by Brian Searle</a></p>
{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}