{% extends "base/plain.html" %}

{% load booking %}

{% block content %}
<h1 id="data-formats-and-pre-processing">Data Formats and Pre-processing</h1>
<p>Mass Spectrometry data analysis is plagued by an overabundance of file formats.  The good news is that the Mass Spec community, including many instrument vendors have developed a standard file format for raw data, <a href="http://www.psidev.info/mzml_1_0_0%20">mzML</a>.  The bad news is that many of the old formats are still in widespread use, and most instruments don't produce it natively.  The reference implementation of the mzML standard is a software suite called <a href="http://proteowizard.sourceforge.net/">ProteoWizard</a>. ProteoWizard includes a very handy tool called <code>msconvert</code> that is capable of converting raw data from most instruments into <code>mzML</code> or into one of many other formats.  In addition to format conversion, <code>msconvert</code> can also perform a wide variety of noise filtering and peak-picking functions to prepare data for analysis.  A typical pre-processing involves;</p>
<ol>
<li>Conversion from instrument .raw to mzML</li>
<li>Peak picking on both MS1 and MS2 data using vendor-native peak picking routines (built in to msconvert)</li>
<li>Denoising of MS2 data either by thresholding or by keeping only the largest peaks withing a moving window</li>
<li>Convert spectrum identifiers into a standardized format</li>
</ol>
<p>To convert files from raw instrument native formats to <code>mzML</code> a windows PC is required.  If you need to do this, be sure to download <a href="http://proteowizard.sourceforge.net/">ProteoWizard</a> with <em>vendor reader support</em> .  This package comes with <code>MSConvertGUI</code> which allows conversion of raw files using a graphical interface.  Once files are in <code>mzML</code> or <code>mgf</code> format they can be converted to various other formats using the <code>msconvert3</code> tool in Galaxy.</p>
{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}