
body{
    line-height: 1.65;
}

div.showable-container.information {background: url('http://andrewjrobinson.github.io/vlsci-docs/includes/media/info-icon.png'); background-repeat: no-repeat; background-size: 24px 24px;}

