{% extends "base/plain.html" %}

{% load booking %}

{% block content %}
<h1 id="tutorials-and-protocols">Tutorials and protocols</h1>
<h2 id="general">General</h2>
<h4 id="unix-git-and-python">Unix, Git and Python</h4>
<ul>
<li><a href="unix/">Introduction to Unix workshop</a></li>
<li><a href="using_git/Using_Git/">Using Git and Github for revision control</a></li>
<li><a href="python_overview/python_overview/">Python Overview</a></li>
</ul>
<h4 id="hpc">HPC</h4>
<ul>
<li><a href="hpc/">Introduction to HPC</a></li>
</ul>
<h4 id="gvl">GVL</h4>
<ul>
<li><a href="gvl_launch/gvl_launch/">Launching a Personal GVL Server</a></li>
</ul>
<h4 id="galaxy">Galaxy</h4>
<ul>
<li><a href="galaxy_101/galaxy_101/">Introduction to Galaxy</a></li>
<li><a href="galaxy-workflows/galaxy-workflows/">Galaxy workflows</a></li>
<li><a href="genomespace/genomespace/">Introduction to GenomeSpace</a></li>
</ul>
<h2 id="science">Science</h2>
<h4 id="next-generation-sequencing">Next Generation Sequencing</h4>
<ul>
<li><a href="ngs_overview/NGS_Overview/">NGS Overview</a></li>
<li><a href="alignment/alignment/">Alignment using BWA</a></li>
</ul>
<h4 id="rna-seq">RNA-Seq</h4>
<ul>
<li><a href="rna_seq_exp_design/rna_seq_experimental_design/">RNA-Seq Experimental Design</a></li>
<li><a href="rna_seq_dge_basic/rna_seq_basic_tutorial/">RNA-Seq Differential Gene Expression - Basic</a></li>
<li><a href="rna_seq_dge_advanced/rna_seq_advanced_tutorial/">RNA-Seq Differential Gene Expression - Advanced</a></li>
</ul>
<h4 id="variant-detection">Variant Detection</h4>
<ul>
<li><a href="variant_calling_galaxy_1/variant_calling_galaxy_1/">Introduction to Variant Calling using Galaxy</a></li>
<li><a href="var_detect_advanced/var_detect_advanced/">Variant Detection Advanced</a></li>
</ul>
<h4 id="assembly">Assembly</h4>
<p><strong>Tutorial</strong></p>
<ul>
<li><a href="assembly/assembly/">Microbial de novo Assembly for Illumina Data</a></li>
</ul>
<p><strong>Protocol</strong></p>
<ul>
<li><a href="assembly/assembly-protocol/">De Novo Genome Assembly</a></li>
</ul>
<h4 id="proteomics">Proteomics</h4>
<p><strong>Tutorial</strong></p>
<ul>
<li><a href="proteomics_basic/proteomics_basic/">Identifying proteins from mass spectrometry data</a></li>
</ul>
{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}