{% extends "base/plain.html" %}

{% load booking %}

{% block content %}
<h1 id="create-a-workflow">Create a workflow</h1>
<ol>
<li>Click the <em>Workflow</em> menu item at the top of galaxy</li>
<li>
<p>Click the button called <em>Create New Workflow</em></p>
<p><img alt="Image of workflow menu" src="../media/WorkflowMenu.png" /></p>
</li>
<li>
<p>Enter a name and description for the new workflow and click <em>Create</em></p>
</li>
<li>
<p>You should now have a blank workflow canvas.  Create an input box for the workflow by scrolling to the bottom left of the galaxy tool menu.  Under <em>Workflow Control</em> and then under <em>Inputs</em> you should see an <em>Input dataset</em> item. Click it to create a blank input box</p>
<p><img alt="Image add workflow input" src="../media/MakeInputDataSet.png" /></p>
</li>
<li>
<p>Now add workflow nodes for other tools by clicking on the relevant tool in the galaxy tool menu (left pane of galaxy). The tools to add are;</p>
<ul>
<li>The <em>Select</em> tool from the <em>Find and Sort</em> submenu</li>
<li>The <em>Line/Word/Character</em> count tool from the <em>Text Manipulation</em> submenu</li>
</ul>
</li>
<li>
<p>After adding these tools you can join them up by dragging from the outputs of one node to the inputs of the next</p>
<p><img alt="Image workflow join nodes" src="../media/JoinWorkflowTools.png" /></p>
</li>
<li>
<p>Save your workflow</p>
<p><img alt="Image save workflow" src="../media/SaveWorkflow.png" /></p>
</li>
<li>
<p>After saving the workflow return to the main <em>Workflow</em> menu (top of Galaxy) and select your new workflow to run it.  Before running the workflow you will be presented with a window that allows you to alter the workflow inputs. </p>
<p><img alt="Image edit workflow inputs" src="../media/EditWorkflowInputs.png" /></p>
</li>
</ol>
{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}